.signup{
  text-align: center;
  font-size: larger;
  color: brown;
  cursor: pointer;
}
.center1{
    display: flex;
    justify-content: center;
}
.inputs{
    height: 2rem;
    width: 30rem;
    border: 1px solid rgb(190, 185, 185);
    border-radius: 5px;
}
.space{
    margin-top: 2rem;
}
.texts{
    font-size: larger;
    color: rgb(164, 86, 86);
}
.btns{
    border-radius: 5px;
    background-color:rgb(180, 176, 176);
    padding: 0.5rem 2rem;
    color: rgb(111, 39, 39);
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border-style: 0.2px solid rgb(136, 133, 133);
}
.btns:active{
    border-radius: 5px;
    background-color:rgb(111, 39, 39);
    padding: 0.5rem 2rem;
    color: rgb(180, 176, 176);
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border-style: 0.2px solid rgb(136, 133, 133);
}